<div ng-controller="dateCtrl" class="lbl" ng-model="date">
    <div ng-include="'pages/date.html'"></div>
</div>


<button class="topcoat-button--cta" ng-click="showChart()">Показать график за месяц</button>

<canvas id="myChart"></canvas>

<hr>

<div ng-show="incomeSum" class="incomeSum lbl">
    За выбранный период заработано:
    <span>{{incomeSum | currency}}</span>
</div>

<div ng-show="incomeSum" class="flowSum lbl">
    За выбранный период потрачено:
    <span>{{flowSum | currency}}</span>
</div>

<ul class="incomes topcoat-list__container">
    <li ng-repeat="i in incomes " class="topcoat-list__item">
        {{i.date | date:'longDate'}}
        {{i.name}}
        {{i.money}}
    </li>
</ul>


<div class="empty"></div>