<div ng-controller="dateCtrl" class="lbl" ng-model="date">
    <div ng-include="'pages/date.html'"></div>
</div>


<button class="topcoat-button--cta" ng-click="showChart()">Показать графики за месяц</button>

<br>

<h2 ng-show="flow">Расходы:</h2>

<canvas id="myChartFlow"></canvas>

<ul class="simple-list">
    <li ng-repeat="el in flow | orderBy:value">
        <span style="color:{{ el.color }};"> <b>{{ el.value|currency }} -</b> {{ el.name }}</span>
    </li>
</ul>

<hr>


<h2 ng-show="income">Доходы:</h2>

<canvas id="myChartIncomes"></canvas>

<ul class="simple-list">
    <li ng-repeat="el in income | orderBy:value">
        <span style="color:{{ el.color }};"> <b>{{ el.value|currency }} -</b> {{ el.name }}</span>
    </li>
</ul>

<hr>

<div class="empty"></div>