<div ng-controller="dateCtrl" class="lbl" ng-model="date">
    <div ng-include="'pages/date.html'"></div>
</div>


<button class="topcoat-button--cta" ng-click="showChart()">Показать график за месяц</button>

<canvas id="myChart"></canvas>

<hr>

<div ng-show="incomeSum" class="incomeSum lbl">
    За выбранный период заработано:
    <span>{{incomeSum | currency}}</span>
</div>

<div ng-show="incomeSum" class="flowSum lbl">
    За выбранный период потрачено:
    <span>{{flowSum | currency}}</span>
</div>



<div ng-switch on="showMoneySrc" ng-hide="showListBtn">

    <div class="topcoat-button-bar">
        <div class="topcoat-button-bar__item">
            <button ng-click="showMoneySrc='Incomes'"
            ng-class="{active: showMoneySrc=='Incomes'}" class="topcoat-button-bar__button">доходы</button>
        </div>
        <div class="topcoat-button-bar__item">
            <button ng-click="showMoneySrc='Flows'"
            ng-class="{active: showMoneySrc=='Flows'}" class="topcoat-button-bar__button">расходы</button>
        </div>
    </div>

<!--  -->
    <div ng-switch-default></div>
<!--  -->

    <ul ng-switch-when="Incomes" class="incomes topcoat-list__container">
        <li ng-repeat="i in incomes | checkDate:checkDate | orderBy:date " class="topcoat-list__item">
            <small>
                {{i.date | date:'longDate'}} <b>( {{i.money | currency}} )</b>
            </small>
            <hr>
            <span>{{i.name}}</span>
            <span ng-click="removeRecord(i, 'income')" class="del">X</span>
        </li>
    </ul>
<!--  -->
    <ul ng-switch-when="Flows" class="flows topcoat-list__container">
        <li ng-repeat="i in flows | checkDate:checkDate | orderBy:date" class="topcoat-list__item">
            <small>
                {{i.date | date:'longDate'}} <b>( {{i.money | currency}} )</b>
            </small>
            <hr>
            <span>{{i.name}}</span>
            <small>{{i.comment}}</small>
            <span ng-click="removeRecord(i, 'flow')" class="del">X</span>
        </li>
    </ul>

</div>

<div class="empty"></div>