
<div ng-controller="dateCtrl" class="lbl" ng-model="date">
    <div ng-include="'pages/date.html'"></div>
</div>



<label class="lbl">
    <select ng-model="select" ng-options="gr.name group by gr.grp for gr in groups"></select>
</label>

<label class="lbl">
    <input ng-model="money" type="number" min="0" class="topcoat-text-input" placeholder="Сумма">
</label>

<label class="lbl">
    <input ng-model="comment" maxlength="30" ng-change="autoComplete()" type="text" maxlength="100" class="topcoat-text-input" placeholder="Комментарий">

    <ul class="autocomplete" ng-class="{show: autocomplete.length>0 && comment.length>0}">
        <li ng-repeat="el in autocomplete | orderBy:similar | limitTo:3" ng-click="putName(el.name)">{{el.name}}</li>
    </ul>
</label>

<label class="lbl">
    <button ng-click="getData()" class="topcoat-button--large--cta">Сохранить</button>
</label>