<h3>{{title}}</h3>

<p>
    Благодаря ему вы сможете синхронизировать ваши данные с сайтом приложения.
</p>
<p>
    На сайте можно будет анализировать свои расходы при помощи большего количества графиков и отчетов.
</p>
<p>
    А оно вам надо?
</p>

<!--
 -->



<label class="lbl">
    <button ng-click="sendRequest()" class="topcoat-button" ng-disabled="false">Авторизация</button>
</label>
<label class="lbl">
    <button ng-click="sendRequest()" class="topcoat-button" ng-disabled="true">Регистрация</button>
</label>


<label class="lbl">
    <input ng-model="email" type="text" maxlength="30" class="topcoat-text-input" placeholder="email">
</label>

<label class="lbl">
    <input ng-model="password" type="password" maxlength="30" class="topcoat-text-input" placeholder="Пароль">
</label>

<label class="lbl">
    <input ng-model="c_password" type="password" maxlength="30" class="topcoat-text-input" placeholder="Повтор пароля">
</label>


<label class="lbl">
    <button ng-click="sendRequest()" class="topcoat-button--large--cta">Ok!</button>
</label>