.content{
  display:block;
  width:100%;
  padding:4px;
}

select {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #595B5B;
  background-image: none;
  box-shadow: 0 0 0 1px #303233;
  border: none;
  border-top: 2px solid #666767;
  color: #FFF;
  text-shadow: 0 -1px 0 #000;
  overflow: hidden;
  font-size: 14px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  -webkit-appearance: none;
  -moz-appearance: button;
}


.topcoat-button-bar{
  margin:4px auto;
}
.topcoat-button-bar__button{
  padding: 0 .8rem;
}
.topcoat-button-bar__button.active,
.topcoat-button-bar__button--large.active {
  z-index: 1;
  border: 1px solid #333434;
  background-color: #3f4041;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
}


.lbl{
  width:100%;
  /*border-bottom:1px solid #646464;*/
  display:block;
  padding:4px;
}

.topcoat-textarea{
  width:97%;
  padding:1rem;
  font-size: 1.1rem;
  line-height: 1.1rem;
}


/*
                ___          _                 __
   ____  ____ _/   |  ____  (_)___ ___  ____ _/ /____
  / __ \/ __ `/ /| | / __ \/ / __ `__ \/ __ `/ __/ _ \
 / / / / /_/ / ___ |/ / / / / / / / / / /_/ / /_/  __/
/_/ /_/\__, /_/  |_/_/ /_/_/_/ /_/ /_/\__,_/\__/\___/
      /____/
*/
/*
 CSS-класс animate-enter является именем события,
 подставленным в атрибут ngAnimate.
*/
.animate-enter-setup {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -ms-transition: 1s linear all; /* IE10 */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* Future Browsers */

 /* Подготовка кода анимации */
 opacity: 0;
}

/*
 Имейте в виду, что можно совместить оба CSS-класса
 вместе, чтобы избежать любых конфликтов CSS
*/
.animate-enter-setup.animate-enter-start {
 /* Код анимации */
 opacity: 1;
}
